node_modules
.DS_Store
package-lock.json
yarn.lock
*.rest
.env
.env.local
.env.development
routes/notes.js
routes/expenses.js
models/expense.js
models/note.js
models/saving.js
models/loan.js
mobiklinic-service-account-key.json